/* ---------------------------------------------------------------------- */
/*  Basic Elements & Classes
/* ---------------------------------------------------------------------- */
html, body {
    height: 100%;
    width: 100%;
    padding-top: 60px;
    font-size: 100%;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/* ---------------------------------------------------------------------- */
/*  Images
/* ---------------------------------------------------------------------- */
.img-search-res {
    width: 100%;
}

/* ---------------------------------------------------------------------- */
/*  PlayList
/* ---------------------------------------------------------------------- */

.playlist {
    padding: 10px;
}

/* ---------------------------------------------------------------------- */
/*  Search
/* ---------------------------------------------------------------------- */

.result-list {
    padding: 10px;
    border: 1px solid #000000;
}